AWS_ACCOUNT_ID=YOUR_ACCOUNT_ID
AWS_REGION=eu-west-1
ENV_NAME=prod
ALERT_EMAIL=your@email.com

# RDS PostgreSQL (récupéré via aws secretsmanager get-secret-value)
DB_HOST=YOUR_RDS_ENDPOINT
DB_PORT=5432
DB_NAME=factory_dw
DB_USER=factoryadmin
DB_PASSWORD=YOUR_PASSWORD