[flake8]
max-line-length = 120
exclude =
    cdk/.venv,
    cdk/cdk.out,
    **/__pycache__
per-file-ignores =
    glue_jobs/*.py: F401,F403,E128,E241,W503,E302
    cdk/stacks/*.py: E128,E124,F401
ignore =
    W292,
    E712,
    E241,
    W503